<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Screener ML Model</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Stock Analysis</h1>
        <p style = " color : #c30010">For Amercian Listed companies you can just enter the name but for other it should be in this format company_name.stock_market_code_name</p>


        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0][1] }}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Form to input stock data -->
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="ticker">Stock Name :</label>
                <input type="text" id="ticker" name="ticker" class="form-control" placeholder="ex. TATAMOTORS.NS"
                    required>
            </div>
            <div class="form-group">
                <label for="start_date">Start Date :</label>
                <input type="date" id="start_date" name="start_date" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" required>
            </div>
            <div class="form-group">

                <label for="graph_type">Select Graph Type:</label>
                <select id="graph_type" name="graph_type" class="form-control">
                    <option value="line">Line Graph</option>
                    <option value="candlestick">Candlestick Chart</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>

        {% if graph_path %}
        <!-- Display the graph based on the selected type -->
        {% if graph_path.endswith('.html') %}
        <div class="mt-4">
            <iframe src="{{ graph_path }}" width="100%" height="600"></iframe>
        </div>
        {% else %}
        <div class="mt-4">
            <img src="{{ graph_path }}" class="img-fluid" alt="Stock Graph">
        </div>
        {% endif %}
        {% endif %}

        <!-- {% if stock_data %}
        <h3 class="mt-5">Stock Data</h3>
        <div class="table-responsive">
            {{ stock_data | safe }}
        </div>
        {% endif %} -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>